<div class="password-page">
    <a href="#" class="return-link">
        Back
    </a>
    <div class="password-page__container">
        <h2 class="password-page__title">
            Enter your password
        </h2>
        <div class="form">
            <label class="form__label form__label--password">
                <input type="password" class="form__input" placeholder="Enter your password" required="">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#lock"></use>
                </svg>
            </label>
            <strong class="password-page__strong">
                The password must be at least 8 characters long. Be sure to include upper case, numbers and special characters
            </strong>
            <label class="form__label form__label--pincode">
                <div class="label-text">
                    Enter the pin code
                    <span class="grey">(to protect the password)</span>
                </div>
                <input type="number" class="form__input" placeholder="Enter the pin code">
            </label>
            <button type="submit" class="btn-reset form__submit">
                Confirm
            </button>
        </div>
    </div>
</div>