<div class="seed-phrase-page">
    <a href="#" class="return-link">
        Back
    </a>
    <div class="seed-phrase-page__container">
        <h2 class="seed-phrase-page__title">
            Please choose words in an order you wrote it down
        </h2>
        <p class="seed-phrase-page__text">
            Make sure your Seed Phrase is correct, We won't be able to 
            restore your wallet if you forget the Seed Phrase
        </p>
        <form action="" class="form">
            <input type="text" class="hidden-input form__seed-phrase-input" required>
            <div class="form__area"></div>
            <div class="words-list">
                <span class="words-list__word">Yellow</span>
                <span class="words-list__word">Important</span>
                <span class="words-list__word">Wallet</span>
                <span class="words-list__word">Specific</span>
                <span class="words-list__word">Inspect</span>
                <span class="words-list__word">Business</span>
                <span class="words-list__word">World</span>
                <span class="words-list__word">Tranche</span>
                <span class="words-list__word">Transport</span>
                <span class="words-list__word">Medium</span>
                <span class="words-list__word">Goal</span>
                <span class="words-list__word">Share</span>
            </div>
            <a href="#" class="btn-reset form__submit">
                Сreate New Wallet
            </a>
        </form>
    </div>
</div>