<div class="create-wallet">
    <div class="create-wallet__switcher-wrapper">
        <div class="create-wallet__switcher">
            <button data-catalog="balance" class="create-wallet__btn btn-reset create-wallet__btn--active" type="button">
                Balance
            </button>
            <button data-catalog="wallet" class="create-wallet__btn btn-reset" type="button">
                Wallet
            </button>
            <span class="switcher"></span>
        </div>
    </div>
    <div id="balance" class="create-wallet__content balance">
        <div class="create-wallet__tabs">
            <button data-catalog="main" class="create-wallet__tabs-btn btn-reset create-wallet__tabs-btn--active" type="button">
                Main
            </button>
            <button data-catalog="history" class="create-wallet__tabs-btn btn-reset" type="button">
                History
            </button>
            <button data-catalog="nft" class="create-wallet__tabs-btn btn-reset" type="button">
                NFT
            </button>
        </div>
        <div id="main" class="balance__block balance__block--show balance-main">
            <h2 class="balance__block-title">
                Main
            </h2>
            <div class="balance__account account-number d-none">
                <span class="account-number__title">Account number:</span>
                <div class="account-number__info">
                    <span class="account-number__code">0777 5555 4444 2222</span>
                    <button class="account-number__copy btn-reset" type="button">
                        <span>Copied</span>
                    </button>
                </div>
            </div>
            <div class="balance__items">
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/calorie.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        0.4636
                    </div>
                    <div class="item__status">
                        Project Coin
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/binance.svg" alt="BNB">
                    </div>
                    <div class="item__amount">0.1280</div>
                    <div class="item__status">BNB</div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/binance-2.svg" alt="BUSD (USDT)">
                    </div>
                    <div class="item__amount">0.4636</div>
                    <div class="item__status">BUSD (USDT)</div>
                </div>
            </div>
            <div class="balance__btns-group-extra d-none">
                <a href="#" class="balance__block-btn transfer-other">
                    To Other
                </a>
                <a href="#" class="balance__block-btn transfer-balance">
                    To Balance
                </a>
            </div>
            <div class="balance__btns-group">
                <button class="balance__block-btn btn-reset balance__transfer-btns" type="button">
                    <span class="icon-text">
                        Transfer
                    </span>
                </button>
                <button class="balance__block-btn btn-ocean btn-reset d-none" type="button" data-graph-path="receive">
                    <span class="icon-text">
                        Receive
                    </span>
                </button>
            </div>
        </div>
        <div id="history" class="balance__block balance-history">
            <h2 class="balance__block-title">
                History
            </h2>
            <div class="balance__items">
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/calorie.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">0.4636 <span class="grey">(Project Coin)</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--pending"> 
                        Pending
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/binance.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">0.4636 <span class="grey">(Project Coin)</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--approved"> 
                        Approved
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/calorie.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">0.4636 <span class="grey">(Project Coin)</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--rejected"> 
                        Rejected
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/binance-2.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">0.4636 <span class="grey">(Project Coin)</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--receive">Receive</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--pending"> 
                        Pending
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/binance.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">0.4636 <span class="grey">(Project Coin)</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--receive">Receive</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--pending"> 
                        Pending
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/calorie.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">0.4636 <span class="grey">(Project Coin)</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--pending"> 
                        Pending
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/calorie.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">0.4636 <span class="grey">(Project Coin)</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--pending"> 
                        Pending
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/calorie.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">0.4636 <span class="grey">(Project Coin)</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--pending"> 
                        Pending
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/binance.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">0.4636 <span class="grey">(Project Coin)</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--approved"> 
                        Approved
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/binance.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">0.4636 <span class="grey">(Project Coin)</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--approved"> 
                        Approved
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/binance.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">0.4636 <span class="grey">(Project Coin)</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--approved"> 
                        Approved
                    </div>
                </div>
            </div>
        </div>
        <div id="nft" class="balance__block balance-nft">
            <h2 class="balance__block-title">
                NFT
            </h2>
            <div class="balance__items">
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/nft-default.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">Code: <span class="grey">№ 72184782</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--pending"> 
                        Pending
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/nft-default.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">Code: <span class="grey">№ 72184782</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--approved"> 
                        Approved
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/nft-default.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">Code: <span class="grey">№ 72184782</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--rejected"> 
                        Rejected
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/nft-default.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">Code: <span class="grey">№ 72184782</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--receive">Receive</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--pending"> 
                        Pending
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/nft-default.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">Code: <span class="grey">№ 72184782</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--receive">Receive</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--pending"> 
                        Pending
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/nft-default.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">Code: <span class="grey">№ 72184782</span></div>
                    
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--pending"> 
                        Pending
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/nft-default.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">Code: <span class="grey">№ 72184782</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--pending"> 
                        Pending
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/nft-default.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">Code: <span class="grey">№ 72184782</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--pending"> 
                        Pending
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/nft-default.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">Code: <span class="grey">№ 72184782</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--approved"> 
                        Approved
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/nft-default.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">Code: <span class="grey">№ 72184782</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--approved"> 
                        Approved
                    </div>
                </div>
                <div class="item">
                    <div class="item__icon">
                        <img class="icon" src="images/icon/nft-default.svg" alt="Project Coin">
                    </div>
                    <div class="item__amount">
                        <div class="amount">Code: <span class="grey">№ 72184782</span></div>
                        <div class="date">
                            14 / 10 / 2022 
                            <span class="date__status date__status--send">Send</span> 
                        </div>
                    </div>
                    <div class="item__status item__status--approved"> 
                        Approved
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="wallet" class="create-wallet__content create-new-wallet d-none">
        <div class="create-wallet__order">
            <div class="create-wallet__order-icons">
                <svg width="156" height="60" viewBox="0 0 156 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="30" cy="30" r="30" fill="#EAEBF0" fill-opacity="0.02"/>
                    <circle cx="30" cy="30" r="25" fill="#EAEBF0" fill-opacity="0.05"/>
                    <g filter="url(#filter0_b_816_9361)">
                    <path d="M36.6567 35.3958C34.5375 35.3958 32.813 33.6712 32.813 31.5521C32.813 29.4329 34.5375 27.7083 36.6567 27.7083H38.7921V26C38.7921 25.0578 38.0259 24.2917 37.0838 24.2917H36.2296V22.5833C36.2296 21.6412 35.4634 20.875 34.5213 20.875H22.563C21.2963 20.875 20.2491 21.8009 20.0441 23.0096C20.0253 23.0796 20.0005 23.1479 20.0005 23.224V36.25C20.0005 37.6628 21.1502 38.8125 22.563 38.8125H37.0838C38.0259 38.8125 38.7921 38.0463 38.7921 37.1041V35.3958H36.6567ZM21.7088 23.4375C21.7088 22.9669 22.0915 22.5833 22.563 22.5833H34.5213V24.2917H22.563C22.0915 24.2917 21.7088 23.9081 21.7088 23.4375Z" fill="#EAEBF0" fill-opacity="0.2"/>
                    </g>
                    <path d="M39.8594 28.9895H36.6562C35.2435 28.9895 34.0938 30.1392 34.0938 31.552C34.0938 32.9648 35.2435 34.1145 36.6562 34.1145H39.8594C40.213 34.1145 40.5 33.8275 40.5 33.4739V29.6301C40.5 29.2765 40.213 28.9895 39.8594 28.9895ZM36.6562 32.4062C36.1847 32.4062 35.8021 32.0235 35.8021 31.552C35.8021 31.0805 36.1847 30.6978 36.6562 30.6978C37.1277 30.6978 37.5104 31.0805 37.5104 31.552C37.5104 32.0235 37.1277 32.4062 36.6562 32.4062Z" fill="#EAEBF0" fill-opacity="0.4"/>
                    <circle cx="126" cy="30" r="30" fill="#EAEBF0" fill-opacity="0.02"/>
                    <circle cx="126" cy="30" r="25" fill="#EAEBF0" fill-opacity="0.05"/>
                    <g filter="url(#filter1_b_816_9361)">
                    <path d="M132.657 35.3958C130.538 35.3958 128.813 33.6712 128.813 31.5521C128.813 29.4329 130.538 27.7083 132.657 27.7083H134.792V26C134.792 25.0578 134.026 24.2917 133.084 24.2917H132.23V22.5833C132.23 21.6412 131.463 20.875 130.521 20.875H118.563C117.296 20.875 116.249 21.8009 116.044 23.0096C116.025 23.0796 116 23.1479 116 23.224V36.25C116 37.6628 117.15 38.8125 118.563 38.8125H133.084C134.026 38.8125 134.792 38.0463 134.792 37.1041V35.3958H132.657ZM117.709 23.4375C117.709 22.9669 118.091 22.5833 118.563 22.5833H130.521V24.2917H118.563C118.091 24.2917 117.709 23.9081 117.709 23.4375Z" fill="url(#paint0_linear_816_9361)"/>
                    </g>
                    <path d="M135.859 28.9895H132.656C131.243 28.9895 130.094 30.1392 130.094 31.552C130.094 32.9648 131.243 34.1145 132.656 34.1145H135.859C136.213 34.1145 136.5 33.8275 136.5 33.4739V29.6301C136.5 29.2765 136.213 28.9895 135.859 28.9895ZM132.656 32.4062C132.185 32.4062 131.802 32.0235 131.802 31.552C131.802 31.0805 132.185 30.6978 132.656 30.6978C133.128 30.6978 133.51 31.0805 133.51 31.552C133.51 32.0235 133.128 32.4062 132.656 32.4062Z" fill="url(#paint1_linear_816_9361)"/>
                    <circle cx="69" cy="30" r="3" fill="#EAEBF0" fill-opacity="0.1"/>
                    <circle cx="78" cy="30" r="3" fill="#EAEBF0" fill-opacity="0.1"/>
                    <circle cx="87" cy="30" r="3" fill="#EAEBF0" fill-opacity="0.1"/>
                    <defs>
                    <filter id="filter0_b_816_9361" x="-48.3327" y="-47.4582" width="155.458" height="154.604" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feGaussianBlur in="BackgroundImageFix" stdDeviation="34.1666"/>
                    <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_816_9361"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_816_9361" result="shape"/>
                    </filter>
                    <filter id="filter1_b_816_9361" x="47.6673" y="-47.4582" width="155.458" height="154.604" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feGaussianBlur in="BackgroundImageFix" stdDeviation="34.1666"/>
                    <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_816_9361"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_816_9361" result="shape"/>
                    </filter>
                    <linearGradient id="paint0_linear_816_9361" x1="140.457" y1="24.4364" x2="126.096" y2="39.4808" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFED52"/>
                    <stop offset="0.302083" stop-color="#FFB23F"/>
                    <stop offset="1" stop-color="#FF5D39"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear_816_9361" x1="138.431" y1="30.0071" x2="134.424" y2="35.0161" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FFED52"/>
                    <stop offset="0.302083" stop-color="#FFB23F"/>
                    <stop offset="1" stop-color="#FF5D39"/>
                    </linearGradient>
                    </defs>
                </svg>                    
            </div>
            <p class="create-wallet__order-text">
                In order to proceed you need to<br>
                сreate BNB wallet
            </p>          
            <div class="create-wallet__order-btns-group">
                <button class="create-wallet__order-btn btn-reset" type="button" data-graph-path="create-wallet">
                    Сreate New Wallet
                </button>
                <button class="create-wallet__order-btn btn-ocean btn-reset" type="button">
                    Import Wallet
                </button>
            </div>
        </div>
    </div>
</div>