<div class="restore-password">
    <a href="#" class="return-link">
        Back
    </a>
    <div class="restore-passowrd__container">
        <div class="preloader d-none">
            <img class="preloader__logo" src="images/icon/preload-log.svg" alt="calorie logo">
        </div>
        <h2 class="restore-password__title">
            Enter your seed phrase
        </h2>
        <form action="#" class="restore-password__form restore-pass import form">
            <div class="import__items">
                <div class="import__item">
                    <label class="import__label">
                        <input type="password" class="import__input" placeholder="Enter" required>
                        <span class="import__number">1</span>
                        <button type="button" class="import__visible btn-reset">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="7.69644" cy="7.32877" r="2.17105" fill="#EAEBF0" fill-opacity="0.3"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 12.6579C12.8289 12.6579 15 7.32895 15 7.32895C15 7.32895 12.6316 2 7.5 2C2.36842 2 0 7.32895 0 7.32895C0 7.32895 1.97368 12.6579 7.5 12.6579ZM7.69796 10.684C9.55102 10.684 11.0532 9.18184 11.0532 7.32878C11.0532 5.47572 9.55102 3.97352 7.69796 3.97352C5.8449 3.97352 4.3427 5.47572 4.3427 7.32878C4.3427 9.18184 5.8449 10.684 7.69796 10.684Z" fill="#EAEBF0" fill-opacity="0.3"/>
                            </svg>
                        </button>
                    </label>
                    <label class="import__label">
                        <input type="password" class="import__input" placeholder="Enter" required>
                        <span class="import__number">2</span>
                        <button type="button" class="import__visible btn-reset">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="7.69644" cy="7.32877" r="2.17105" fill="#EAEBF0" fill-opacity="0.3"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 12.6579C12.8289 12.6579 15 7.32895 15 7.32895C15 7.32895 12.6316 2 7.5 2C2.36842 2 0 7.32895 0 7.32895C0 7.32895 1.97368 12.6579 7.5 12.6579ZM7.69796 10.684C9.55102 10.684 11.0532 9.18184 11.0532 7.32878C11.0532 5.47572 9.55102 3.97352 7.69796 3.97352C5.8449 3.97352 4.3427 5.47572 4.3427 7.32878C4.3427 9.18184 5.8449 10.684 7.69796 10.684Z" fill="#EAEBF0" fill-opacity="0.3"/>
                            </svg>
                        </button>
                    </label>
                    <label class="import__label">
                        <input type="password" class="import__input" placeholder="Enter" required>
                        <span class="import__number">3</span>
                        <button type="button" class="import__visible btn-reset">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="7.69644" cy="7.32877" r="2.17105" fill="#EAEBF0" fill-opacity="0.3"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 12.6579C12.8289 12.6579 15 7.32895 15 7.32895C15 7.32895 12.6316 2 7.5 2C2.36842 2 0 7.32895 0 7.32895C0 7.32895 1.97368 12.6579 7.5 12.6579ZM7.69796 10.684C9.55102 10.684 11.0532 9.18184 11.0532 7.32878C11.0532 5.47572 9.55102 3.97352 7.69796 3.97352C5.8449 3.97352 4.3427 5.47572 4.3427 7.32878C4.3427 9.18184 5.8449 10.684 7.69796 10.684Z" fill="#EAEBF0" fill-opacity="0.3"/>
                            </svg>
                        </button>
                    </label>
                    <label class="import__label">
                        <input type="password" class="import__input" placeholder="Enter" required>
                        <span class="import__number">4</span>
                        <button type="button" class="import__visible btn-reset">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="7.69644" cy="7.32877" r="2.17105" fill="#EAEBF0" fill-opacity="0.3"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 12.6579C12.8289 12.6579 15 7.32895 15 7.32895C15 7.32895 12.6316 2 7.5 2C2.36842 2 0 7.32895 0 7.32895C0 7.32895 1.97368 12.6579 7.5 12.6579ZM7.69796 10.684C9.55102 10.684 11.0532 9.18184 11.0532 7.32878C11.0532 5.47572 9.55102 3.97352 7.69796 3.97352C5.8449 3.97352 4.3427 5.47572 4.3427 7.32878C4.3427 9.18184 5.8449 10.684 7.69796 10.684Z" fill="#EAEBF0" fill-opacity="0.3"/>
                            </svg>
                        </button>
                    </label>
                    <label class="import__label">
                        <input type="password" class="import__input" placeholder="Enter" required>
                        <span class="import__number">5</span>
                        <button type="button" class="import__visible btn-reset">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="7.69644" cy="7.32877" r="2.17105" fill="#EAEBF0" fill-opacity="0.3"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 12.6579C12.8289 12.6579 15 7.32895 15 7.32895C15 7.32895 12.6316 2 7.5 2C2.36842 2 0 7.32895 0 7.32895C0 7.32895 1.97368 12.6579 7.5 12.6579ZM7.69796 10.684C9.55102 10.684 11.0532 9.18184 11.0532 7.32878C11.0532 5.47572 9.55102 3.97352 7.69796 3.97352C5.8449 3.97352 4.3427 5.47572 4.3427 7.32878C4.3427 9.18184 5.8449 10.684 7.69796 10.684Z" fill="#EAEBF0" fill-opacity="0.3"/>
                            </svg>
                        </button>
                    </label>
                    <label class="import__label">
                        <input type="password" class="import__input" placeholder="Enter" required>
                        <span class="import__number">6</span>
                        <button type="button" class="import__visible btn-reset">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="7.69644" cy="7.32877" r="2.17105" fill="#EAEBF0" fill-opacity="0.3"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 12.6579C12.8289 12.6579 15 7.32895 15 7.32895C15 7.32895 12.6316 2 7.5 2C2.36842 2 0 7.32895 0 7.32895C0 7.32895 1.97368 12.6579 7.5 12.6579ZM7.69796 10.684C9.55102 10.684 11.0532 9.18184 11.0532 7.32878C11.0532 5.47572 9.55102 3.97352 7.69796 3.97352C5.8449 3.97352 4.3427 5.47572 4.3427 7.32878C4.3427 9.18184 5.8449 10.684 7.69796 10.684Z" fill="#EAEBF0" fill-opacity="0.3"/>
                            </svg>
                        </button>
                    </label>
                    <label class="import__label">
                        <input type="password" class="import__input" placeholder="Enter" required>
                        <span class="import__number">7</span>
                        <button type="button" class="import__visible btn-reset">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="7.69644" cy="7.32877" r="2.17105" fill="#EAEBF0" fill-opacity="0.3"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 12.6579C12.8289 12.6579 15 7.32895 15 7.32895C15 7.32895 12.6316 2 7.5 2C2.36842 2 0 7.32895 0 7.32895C0 7.32895 1.97368 12.6579 7.5 12.6579ZM7.69796 10.684C9.55102 10.684 11.0532 9.18184 11.0532 7.32878C11.0532 5.47572 9.55102 3.97352 7.69796 3.97352C5.8449 3.97352 4.3427 5.47572 4.3427 7.32878C4.3427 9.18184 5.8449 10.684 7.69796 10.684Z" fill="#EAEBF0" fill-opacity="0.3"/>
                            </svg>
                        </button>
                    </label>
                    <label class="import__label">
                        <input type="password" class="import__input" placeholder="Enter" required>
                        <span class="import__number">8</span>
                        <button type="button" class="import__visible btn-reset">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="7.69644" cy="7.32877" r="2.17105" fill="#EAEBF0" fill-opacity="0.3"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 12.6579C12.8289 12.6579 15 7.32895 15 7.32895C15 7.32895 12.6316 2 7.5 2C2.36842 2 0 7.32895 0 7.32895C0 7.32895 1.97368 12.6579 7.5 12.6579ZM7.69796 10.684C9.55102 10.684 11.0532 9.18184 11.0532 7.32878C11.0532 5.47572 9.55102 3.97352 7.69796 3.97352C5.8449 3.97352 4.3427 5.47572 4.3427 7.32878C4.3427 9.18184 5.8449 10.684 7.69796 10.684Z" fill="#EAEBF0" fill-opacity="0.3"/>
                            </svg>
                        </button>
                    </label>
                    <label class="import__label">
                        <input type="password" class="import__input" placeholder="Enter" required>
                        <span class="import__number">9</span>
                        <button type="button" class="import__visible btn-reset">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="7.69644" cy="7.32877" r="2.17105" fill="#EAEBF0" fill-opacity="0.3"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 12.6579C12.8289 12.6579 15 7.32895 15 7.32895C15 7.32895 12.6316 2 7.5 2C2.36842 2 0 7.32895 0 7.32895C0 7.32895 1.97368 12.6579 7.5 12.6579ZM7.69796 10.684C9.55102 10.684 11.0532 9.18184 11.0532 7.32878C11.0532 5.47572 9.55102 3.97352 7.69796 3.97352C5.8449 3.97352 4.3427 5.47572 4.3427 7.32878C4.3427 9.18184 5.8449 10.684 7.69796 10.684Z" fill="#EAEBF0" fill-opacity="0.3"/>
                            </svg>
                        </button>
                    </label>
                    <label class="import__label">
                        <input type="password" class="import__input" placeholder="Enter" required>
                        <span class="import__number">10</span>
                        <button type="button" class="import__visible btn-reset">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="7.69644" cy="7.32877" r="2.17105" fill="#EAEBF0" fill-opacity="0.3"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 12.6579C12.8289 12.6579 15 7.32895 15 7.32895C15 7.32895 12.6316 2 7.5 2C2.36842 2 0 7.32895 0 7.32895C0 7.32895 1.97368 12.6579 7.5 12.6579ZM7.69796 10.684C9.55102 10.684 11.0532 9.18184 11.0532 7.32878C11.0532 5.47572 9.55102 3.97352 7.69796 3.97352C5.8449 3.97352 4.3427 5.47572 4.3427 7.32878C4.3427 9.18184 5.8449 10.684 7.69796 10.684Z" fill="#EAEBF0" fill-opacity="0.3"/>
                            </svg>
                        </button>
                    </label>
                    <label class="import__label">
                        <input type="password" class="import__input" placeholder="Enter" required>
                        <span class="import__number">11</span>
                        <button type="button" class="import__visible btn-reset">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="7.69644" cy="7.32877" r="2.17105" fill="#EAEBF0" fill-opacity="0.3"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 12.6579C12.8289 12.6579 15 7.32895 15 7.32895C15 7.32895 12.6316 2 7.5 2C2.36842 2 0 7.32895 0 7.32895C0 7.32895 1.97368 12.6579 7.5 12.6579ZM7.69796 10.684C9.55102 10.684 11.0532 9.18184 11.0532 7.32878C11.0532 5.47572 9.55102 3.97352 7.69796 3.97352C5.8449 3.97352 4.3427 5.47572 4.3427 7.32878C4.3427 9.18184 5.8449 10.684 7.69796 10.684Z" fill="#EAEBF0" fill-opacity="0.3"/>
                            </svg>
                        </button>
                    </label>
                    <label class="import__label">
                        <input type="password" class="import__input" placeholder="Enter" required>
                        <span class="import__number">12</span>
                        <button type="button" class="import__visible btn-reset">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="7.69644" cy="7.32877" r="2.17105" fill="#EAEBF0" fill-opacity="0.3"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 12.6579C12.8289 12.6579 15 7.32895 15 7.32895C15 7.32895 12.6316 2 7.5 2C2.36842 2 0 7.32895 0 7.32895C0 7.32895 1.97368 12.6579 7.5 12.6579ZM7.69796 10.684C9.55102 10.684 11.0532 9.18184 11.0532 7.32878C11.0532 5.47572 9.55102 3.97352 7.69796 3.97352C5.8449 3.97352 4.3427 5.47572 4.3427 7.32878C4.3427 9.18184 5.8449 10.684 7.69796 10.684Z" fill="#EAEBF0" fill-opacity="0.3"/>
                            </svg>
                        </button>
                    </label>
                </div>
            </div>
            <div class="new-password">
                <label class="form__label form__label--password">
                    <input type="password" class="form__input input-password" placeholder="Enter your password" required="">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#lock"></use>
                    </svg>
                </label>
                <label class="form__label form__label--password">
                    <input type="password" class="form__input input-password-confirm" placeholder="Confirm new password" required="">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#lock"></use>
                    </svg>
                    <span class="form-incorrect">*Passwords don't match</span>
                </label>
            </div>
            <button class="restore-password__confirm-btn btn-reset" type="submit" disabled>
                Restore password
            </button>
        </form>
    </div>
</div>
