<div class="transfer-page">
    <a href="#" class="return-link">
        Back
    </a>
    <div class="transfer-page__container">
        <div class="preloader d-none">
            <img class="preloader__logo" src="images/icon/preload-log.svg" alt="calorie logo">
        </div>
        <h2 class="transfer-page__title">
            Transfer
        </h2>
        <form action="#" class="transfer-page__form transfer">
            <div class="transfer__blocks-wrap">
                <div class="transfer__block">
                    <span class="transfer__title">From:</span>
                    <div class="tranfer__role">
                        <div class="transfer__select transfer__select-transfer">
                            <select class="js-example-basic-single" name="transfer-from">
                                <option value="0">Balance</option>
                                <option value="1">Wallet</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="button" class="transfer__btn btn-reset">
                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.8 1.10718L12 4.85718H1.5" stroke="#EAEBF0" stroke-width="1.71429" stroke-linecap="round"/>
                        <path d="M7.2 12.8928L3 9.14282H13.5" stroke="#EAEBF0" stroke-width="1.71429" stroke-linecap="round"/>
                    </svg>
                </button>
                <div class="transfer__block">
                    <span class="transfer__title">To:</span>
                    <div class="tranfer__role">
                        <div class="transfer__select transfer__select-transfer">
                            <select class="js-example-basic-single" name="transfer-to">
                                <option value="0">Wallet</option>
                                <option value="1">Other wallet</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="transfer__forms-wrap">
                <div class="transfer__selects-wrap">
                    <div class="transfer__switcher">
                        <button data-catalog="token" class="transfer__switcher-btn btn-reset transfer__switcher-btn--active" type="button">
                            Token
                        </button>
                        <button data-catalog="nft" class="transfer__switcher-btn btn-reset" type="button" data-graph-path="choose-nft">
                            NFT
                        </button>
                        <span class="switcher"></span>
                    </div>
                    <div id="token" class="transfer__switcher-content transfer__select transfer__select-coin">
                        <div class="form-group field-transferform-token_accountid">
                            <select class="js-example-basic-single" name="transfer">
                                <option value="0">Project Coin</option>
                                <option value="1">Project Coin 2</option>
                                <option value="2">Something else</option>
                            </select>
                        </div>
                    </div>
                    <div id="nft" class="transfer__switcher-content transfer__nft-preview d-none">
                        <div class="transfer__nft-preview-wrap preview">
                            <div class="preview__image">
                                <img class="image" src="images/icon/sneakers-1.svg" alt="sneakers">
                            </div>
                            <div class="preview__info">
                                Code: <span class="code">№ 72184782</span>
                            </div>
                            <button type="button" class="preview__choose btn-reset" data-graph-path="choose-nft" title="change nft">
                                <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.8 1.10718L12 4.85718H1.5" stroke="#EAEBF0" stroke-width="1.71429" stroke-linecap="round"/>
                                    <path d="M7.2 12.8928L3 9.14282H13.5" stroke="#EAEBF0" stroke-width="1.71429" stroke-linecap="round"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="transfer__amount-wrap">
                    <label class="transfer__amount other d-none">
                        <input type="number" class="amount__input" placeholder="Other wallet number">
                    </label>
                    <label class="transfer__amount amount">
                        <input type="number" class="amount__input" placeholder="Amount">
                        <button class="amount__all btn-reset" type="button">All</button>
                    </label>
                </div>
            </div>
            <div class="transfer__fee">
                <span class="transfer__fee-text">Fee:</span>
                <span class="transfer__fee-amount">0.1280 BNB</span>
            </div>
            <button class="transfer__confirm-btn btn-reset" type="button" data-graph-path="confirm-transfer">
                Confirm Transfer
            </button>
        </form>
    </div>
</div>
