body.sidebar-offset {
    .header {
        margin-left: 285px;
        margin-right: 30px;
    }  
  }

.header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    cursor: default;
    margin-left: 0;
    transition: all ease-in-out .4s;


    &__container {
        @include flex-all-sb;
        padding-top: 30px;
        padding-bottom: 15px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            border-bottom: 1px solid var(--grey);
            opacity: .1;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: var(--grey);
        margin-top: 0;
        margin-bottom: 0;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 80px;
            left: 0;
            bottom: -20px;
            border-bottom: 1px solid var(--orange);
        }
    }

    .profile {
        position: relative;
        
        &__wrap {
            @include flex-v-center;
            padding-right: 14px;
            position: relative;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                opacity: 1;
                border-style: solid;
                border-width: 5px 4px 0 4px;
                border-color: var(--cs-grey) transparent transparent transparent;
                right: 0;
                bottom: 6px;
                transform: rotate(0deg);
                transform-origin: center;
                transition: all ease-in-out .4s;
            }
        
            &:hover {
                &::before {
                    border-color: var(--orange) transparent transparent transparent;
                }
            }
        }

        &__avatar {
            border: 1px solid var(--orange);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px; 
            @include flex-all-center;

            .avatar {
                max-width: 38px;
            }
        }

        &__name {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: -0.03em;    
            color: var(--grey);
        }

        &__mail {
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
            display: block;
            color: var(--cs-grey);
        }

        &__nav {
            background: var(--dark);
            border-radius: 10px;
            padding: 15px 20px;
            margin-top: 10px;
            position: absolute;
            left: 0;
            right: 0;
            min-width: 150px;

            li:not(:last-child) {
                a {
                    border-bottom: 1px solid var(--grey);
                }
            }

            a {
                display: block;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: -0.05em;
                color: var(--grey);
                padding: 10px 5px;
                transition: color ease-in-out 0.4s;

                &:hover {
                    color: var(--orange)
                }
            }
        }

        &--show {
            .profile__wrap {
                &::before {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .burger {
        @include burger;
    }
    
    .mobile-menu {
        @include mobile-menu;
    }

    .coins {
        display: none;
        background: rgba(234, 235, 240, 0.05);
        border-radius: 43px;
        min-width: 47px;
        padding: 3px 9px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-image: url('../images/icon/coins.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 20px;
            height: 20px;
            top: 50%;
            right: 2px;
            transform: translateY(-50%);
        }
        
        &__amount {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: var(--cs-grey);
            padding-right: 19px;
        }
    }

    &__mobile-top {
        display: none;
        margin-bottom: 16px;

        .time {
            font-weight: 400;
            font-size: 10.7165px;
            line-height: 13px;
            letter-spacing: -0.035em;
            color: var(--cs-white);
        }

        .mobile-info {
            @include flex-v-center;
            gap: 10px;
        }
    }
}

// .header.active-scroll {
//     background-color: var(--cs-grey);
// }