.graph-modal {
    background-color: rgba(18, 21, 32, 0.9);
    @include flex-all-center;

    &::before {
        content: none;
    }

    &__container {
        background: rgba(234, 235, 240, 0.05);
        backdrop-filter: blur(30px);
        border-radius: 18px;
        max-width: 540px;
        width: 100%;
        padding: 0 40px 60px 40px;
        margin: 50px 25px;
    }

    .order-modal {
        .product__status {
            max-width: 340px;
            margin: 0 auto;
        }

        &__title {
            text-align: center;
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: -0.05em;
            margin-top: 35px;
            margin-bottom: 10px;
        }

        .product__image {
            max-height: 220px;
            max-width: 220px;
            margin: 0 auto;
        }

        .product__code {
            border-bottom: 1px solid rgba(234, 235, 240, 0.1);
            padding-bottom: 14px;
            padding-left: 10px;
            margin-bottom: 10px;
        }

        &__price {
            @include flex-v-center;
            padding-left: 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 125%;
            letter-spacing: -0.05em;
            color: var(--grey);

            .price {
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: -0.05em;
                color: var(--orange);
                margin-left: auto;
            }
        }

        &__btns-group {
            @include flex-all-sb;
            gap: 15px;
            margin-top: 40px;
        }

        .product__close-btn {
            padding: 12px;
            border-radius: 40px;
            background-color: rgba(234, 235, 240, 0.05);
            color: var(--grey);
            max-width: 200px;
            width: 100%;
            transition: all ease-in-out .4s;

            &:hover {
                background-color: rgba(234, 235, 240, 0.5);
            }
        }

        .product__order-btn {
            color: var(--grey);
            max-width: 200px;
        }
    }
    
    .order-modal.no-funds {
        padding: 70px 40px;

        .order-modal__title {
            line-height: 120%;
            margin-top: 0;
        }

        .no-funds {
            &__image {
                margin: 35px 0;
                text-align: center;
            }
            .order-modal__btns-group {
                a {
                    text-align: center;
                }
            }

            .order-modal__price {
                padding-left: 10px;
                padding-right: 10px;

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(234, 235, 240, 0.1);
                    padding-bottom: 7px;
                    margin-bottom: 10px;
                }
            }

            &__diff {
                font-weight: 500;
                font-size: 14px;
                line-height: 120%;
                text-align: center;
                letter-spacing: -0.05em;
                color: var(--cs-grey);
                margin-top: 15px;
                margin-bottom: 0;
            }
        }
    }

    .import-wallet {
        padding: 70px 55px;

        .form {
            @include flex-v-center;
            flex-direction: column;
        }

        &__title {
            margin-top: 30px;
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 24px;
            line-height: 130%;
            text-align: center;
            letter-spacing: -0.05em;
            color: var(--grey);
        }

        &__text {
            margin-top: 0;
            margin-bottom: 25px;
            margin-left: auto;
            margin-right: auto;
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            text-align: center;
            max-width: 265px;
            color: var(--red);
        }

        .custom-checkbox {
            @include custom-checkbox;
            max-width: 270px;
            display: flex;
            margin-bottom: 40px;

            &__content {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: var(--grey);

                &::before {
                    top: 2px;
                    width: 14px;
                    height: 14px;
                    border: none;
                    background-color: var(--orange);
                    border-radius: 4px;
                }

                &::after {
                    background-image: url('../../images/icon/checkbox.svg');
                    top: 2px;
                }
            }

            &__field:checked + .custom-checkbox__content {
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .seed-phrase {
        padding: 70px 40px;
        text-align: center;

        &__title {
            font-weight: 500;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: -0.05em;
            color: var(--grey);
            margin-top: 0;
            margin-bottom: 0;
        }

        &__text {
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            color: var(--red);
            margin-top: 25px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            max-width: 427px;
        }
        
        &__list {
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            text-align: left;
            padding-left: 20px;

            li {
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: var(--grey);
                padding-left: 14px;

                &:not(:last-child) {
                    padding-bottom: 6px;
                    margin-bottom: 6px;
                    border-bottom: 1px solid rgba(234, 235, 240, 0.1);
                }
            }
        }

        &__btns-group {
            @include flex-all-sb;
            margin-top: 28px;

            .graph-modal__btn-copy {
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: -0.03em;
                color: var(--grey);
                padding-left: 33px;
                position: relative;
                transition: color ease-in-out .4s;

                &::before {
                    content: "";
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    background-color: rgba(255, 255, 255, 0.05);
                    background-image: url('../images/icon/copy.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: auto;
                    border-radius: 8px;
                    @include flex-all-center;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:hover {
                    color: var(--orange);
                }

                span {
                    position: absolute;
                    top: 0;
                    left: -10px;
                    opacity: 0;
                    transition: all ease-in-out .4s;
                }

                &.copied {
                    span {
                        top: -25px;
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__btn-next {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.03em;
        color: var(--grey);
        padding-right: 55px;
        position: relative;
        transition: all ease-in-out .4s;

        &::after {
            content: "";
            position: absolute;
            background-color: var(--orange);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url('../images/icon/arrow-white.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            @include flex-all-center;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all ease-in-out .4s;
        }

        &:hover {
            &::after {
                transform: translateY(-50%) translateX( 10px);
            }
        }
    }
}