.restore-password {
    &__container {
        background: rgba(234, 235, 240, 0.02);
        backdrop-filter: blur(30px);
        border-radius: 20px;
        @include flex-all-center;
        flex-direction: column;
        padding: 166px 25px;

        .preloader {
            background-color: transparent;
            background-image: none;

            &::before,
            &::after {
                z-index: -1;
            }

            &::before {
                max-width: 734px;
                height: 255px;
                top: 60px;
            }
            &::after {
                max-width: 310px;
                height: 96px;
                top: 200px;
            }
        }
    }

    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.05em;
        color: var(--grey);
        margin-top: 0;
        margin-bottom: 50px;
    }

    &__confirm-btn {
        display: block;
        max-width: 325px;
        width: 100%;
        margin: 0 auto;
        background: var(--orange);
        backdrop-filter: blur(30px);
        box-shadow: 0 0 15px transparent;
        border-radius: 30px;
        padding: 11px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: -0.03em;
        color: var(--grey);
        position: relative;
        transition: all ease-in-out 0.4s;

        &:hover {
            box-shadow: 0 0 15px var(--orange);
        }

        &:disabled {
            pointer-events: none;
            opacity: .5;
        }
    }

    &__form {
        max-width: 1045px;
        margin: 0 auto;

        .new-password {
            @include flex-v-center;
            gap: 15px;
            margin-bottom: 60px;
        }

        .import {
            &__items {
                padding-bottom: 30px;
                margin-bottom: 30px;
                border-bottom: 1px solid rgba(234, 235, 240, 0.1);
            }

            &__item {
                display: grid;
                grid-template-columns: repeat(auto-fill, 250px);
                justify-content: center;
                gap: 15px;
            }

            &__label {
                background: rgba(234, 235, 240, 0.05);
                border-radius: 30px;
                position: relative;
            }

            &__input {
                width: 100%;
                background: transparent;
                border: 1px solid transparent;
                padding: 10px 40px 10px 38px;
                border-radius: 30px;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: var(--cs-grey);
                caret-color: var(--orange);
                outline: none;
                transition: all ease-in-out .4s;
            }

            &__input::placeholder {
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: var(--cs-grey);
            }

            &__input:focus {
                background: rgba(234, 235, 240, 0.01);
                border: 1px solid rgba(255, 93, 57, 0.5);
            }

            &__number {
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: rgba(234, 235, 240, 0.05);
                @include flex-all-center;
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                color: var(--cs-grey);
                left: 8px;
                top: 50%;
                transform: translateY(-50%);
                transition: all ease-in-out .4s;
            }

            &__input:focus + .import__number,
            &__input:valid + .import__number {
                background-color: var(--orange);
                color: var(--cs-white);
            }

            &__visible {
                display: flex;
                position: absolute;
                top: 50%;
                right: 13px;
                transform: translateY(-50%);

                &::before {
                    content: "";
                    position: absolute;
                    border-top: 2px solid var(--cs-grey);
                    width: 17px;
                    height: 2px;
                    transform: rotate(45deg) translateY(-50%);
                    top: 50%;
                    left: -2px;
                    opacity: 1;
                    transition: all ease-in-out .4s;
                }
            }
            &__visible--show {
                &::before {
                    opacity: 0;
                }
            }
        }
        .form {
            &__label {
                position: relative;
                width: 100%;

                .icon {
                    width: 12px;
                    height: 12px;
                    fill: var(--cs-grey);
                    position: absolute;
                    top: calc(50% - 6px);
                    left: 18px;
                }

                &--incorrect {
                    .form__input {
                        border:  1px solid var(--red);
                    }
                    .icon {
                        fill: var(--red);
                    }
                    .form-incorrect {
                        opacity: 1;
                    }
                }
            }

            &__input {
                border: 1px solid transparent;
                background: rgba(234, 235, 240, 0.05);
                border-radius: 30px;
                padding: 12px 40px;
                width: 100%;
                color: var(--cs-grey);
                caret-color: var(--orange);
                transition: all ease-in-out .4s;
            }

            &__input::placeholder {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: var(--cs-grey);
                transition: all ease-in-out .4s;
            }

            &__input:focus {
                border: 1px solid var(--orange);
                outline: transparent;
                background-color: transparent;
            }

            &__input:focus + .icon {
                fill: var(--orange);
                animation: swing .4s ease-in-out forwards;
            }

            &-incorrect {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: var(--red);
                position: absolute;
                bottom: -32px;
                right: 10px;
                width: fit-content;
                opacity: 0;
                transition: opacity ease-in-out .4s;
            }
        }
    }
}
