.seed-phrase-page {
    &__container {
        background: rgba(234, 235, 240, 0.02);
        backdrop-filter: blur(30px);
        border-radius: 20px;
        @include flex-all-center;
        flex-direction: column;
        padding: 166px 25px;
    }

    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.05em;
        color: var(--grey);
        margin-top: 0;
        margin-bottom: 0;
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: var(--red);
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 427px;
        text-align: center;
    }

    .password {
        max-width: 450px;
        width: 100%;
        margin-right: auto;
        @include flex-v-center;
        flex-direction: column;
        position: relative;
        z-index: 11;


        &__strong {
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
            color: var(--grey);
            display: block;
            padding-left: 5px;
            position: relative;
            margin-bottom: 50px;

            &::before {
                content: "*";
                position: absolute;
                color: var(--orange);
                left: 0;
                top: 0;
            }
        }
    }

    .form {
        max-width: 1045px;
        width: 100%;

        .hidden-input {
            visibility: hidden;
            position: absolute;
            transform: scale(0);
            opacity: 0;
            overflow: hidden;
            width: 0;
            height: 0;
        }

        &__area {
            background: rgba(234, 235, 240, 0.05);
            border-radius: 18px;
            padding: 13px 25px;
            height: 150px;

            span {
                padding-right: 13px;
                margin-right: 8px;
                margin-bottom: 8px;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: var(--grey);
                display: inline-block;
                position: relative;
                // cursor: pointer;

                &::after {
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 21px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    background-color: var(--cs-grey);
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .words-list {
            margin-top: 25px;
            margin-bottom: 50px;
            @include flex-v-center;
            flex-wrap: wrap;
            gap: 18px;

            &__word {
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: -0.05em;
                color: rgba(234, 235, 240, 0.3);
                background: rgba(234, 235, 240, 0.05);
                border: 1px solid transparent;
                border-radius: 30px;
                padding: 8px;
                cursor: pointer;
                transition: all ease-in-out .4s;

                &.word-choosed {
                    color: var(--grey);
                    cursor: default;
                    pointer-events: none;
                }
                &.word-incorrect {
                    color: var(--red);
                    border: 1px solid var(--red);
                }
            }
        }

        &__label {
            margin-bottom: 15px;
            position: relative;
            width: inherit;

            .icon {
                width: 12px;
                height: 12px;
                fill: var(--cs-grey);
                position: absolute;
                top: calc(50% - 6px);
                left: 18px;
            }
        }

        &__input {
            border: 1px solid transparent;
            background: rgba(234, 235, 240, 0.05);
            border-radius: 30px;
            padding: 12px 40px;
            width: 100%;
            color: var(--cs-text);
            caret-color: var(--orange);
            transition: all ease-in-out .4s;
        }

        &__input::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: var(--cs-grey);
            transition: all ease-in-out .4s;
        }

        &__input:focus {
            border: 1px solid var(--orange);
            outline: transparent;
            background-color: transparent;
        }

        &__input:focus + .icon {
            fill: var(--orange);
            animation: swing .4s ease-in-out forwards;
        }

        &__submit {
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            letter-spacing: -0.03em;
            color: var(--grey);
            padding: 11px;
            background-color: var(--orange);
            box-shadow: 0 0 15px transparent;
            backdrop-filter: blur(30px);
            border-radius: 30px;
            max-width: 325px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            opacity: .5;
            pointer-events: none;
            transition: all ease-in-out .4s;

            &:hover {
                box-shadow: 0 0 15px var(--orange);
            }

            &.submit-active {
                pointer-events: inherit;
                opacity: 1;
            }
        }
    }
}
