<div class="catalog">
    <div class="cards__item card card--rare">
        <span class="card__status">Rare / 80</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/1.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--uncommon">
        <span class="card__status">Uncommon  / 45</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/2.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--legendary">
        <span class="card__status">Legendary / 100</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/3.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--common">
        <span class="card__status">Common / 15</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/4.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--epic">
        <span class="card__status">Epic / 38</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/5.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--rare">
        <span class="card__status">Rare / 80</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/1.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--uncommon">
        <span class="card__status">Uncommon  / 45</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/2.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--legendary">
        <span class="card__status">Legendary / 100</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/3.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--common">
        <span class="card__status">Common / 15</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/4.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--epic">
        <span class="card__status">Epic / 38</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/5.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--rare">
        <span class="card__status">Rare / 80</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/1.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--uncommon">
        <span class="card__status">Uncommon  / 45</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/2.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--legendary">
        <span class="card__status">Legendary / 100</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/3.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--common">
        <span class="card__status">Common / 15</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/4.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--epic">
        <span class="card__status">Epic / 38</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/5.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--rare">
        <span class="card__status">Rare / 80</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/1.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--uncommon">
        <span class="card__status">Uncommon  / 45</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/2.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="cards__item card card--epic">
        <span class="card__status">Epic / 38</span>
        <div class="card__image-wrap">
            <img src="images/cards/sneakers/2.png" alt="sneakers" class="card__image">
        </div>
        <div class="card__info">
            <div class="card__labels">
                <span class="card__labels-label">Runner</span>
                <span class="card__labels-label">Universal</span>
            </div>
            <div class="card__bottom">
                <span class="card__price">
                    0.1280 BNB
                </span>
                <a href="#" class="card__buy">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#shopping-cart"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>