
<div class="controls">
    <div class="shop-tabs">
        <button data-catalog="sneakers" class="btn-reset shop-tabs__tab shop-tabs__tab--active" type="button">
            Sneakers
        </button>
        <button data-catalog="t-shirts" class="btn-reset shop-tabs__tab" type="button">
            T-shirts
        </button>
        <button data-catalog="shorts" class="btn-reset shop-tabs__tab" type="button">
            Shorts
        </button>
        <button data-catalog="other" class="btn-reset shop-tabs__tab" type="button">
            Other
        </button>
    </div>
    <div class="controls__right">
        <div class="controls__select">
            <select class="js-example-basic-single" name="filter">
                <option value="0">Higher price first</option>
                <option value="1">Min price first</option>
                <option value="2">Something else</option>
            </select>
        </div>
        <div class="filter">
            <button class="btn-reset controls__filter" type="button">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#filter"></use>
                </svg>
            </button>
        </div>
    </div>
</div>