<div class="product">
    <a href="#" class="return-link">
        Back
    </a>
    <div class="product__card">
        <div class="product__card-top">
            <div class="product__code">
                Code: <span class="code">№ 72184782</span>
            </div>
            <div class="product__labels">
                <span class="product__labels-label">
                    Woman
                </span>
                <span class="product__labels-label">
                    Runner
                </span>
            </div>
        </div>
        <div class="product__image">
            <img src="images/product/1.png" alt="Sneakers “Calorie">
        </div>
    </div>
    <div class="product__info product--rare">
        <span class="product__status">Rare / 80</span>
        <div class="product__image">
            <img src="images/product/1-mob.png" alt="Sneakers “Calorie">
        </div>
        <div class="description">
            <h2 class="description__title">
                Sneakers “Calorie”
            </h2>
            <div class="description__container">
                <ul class="description__list list-reset">
                    <li class="description__list-item">
                        <span class="title">Efficiency:</span>
                        <span class="value">80</span>
                    </li>
                    <li class="description__list-item">
                        <span class="title">Quantiny:</span>
                        <span class="value">8753/10000</span>
                    </li>
                    <li class="description__list-item">
                        <span class="title">Comfort:</span>
                        <span class="value">12</span>
                    </li>
                    <li class="description__list-item">
                        <span class="title">Durability:</span>
                        <span class="value">8</span>
                    </li>
                </ul>
                <p class="description__text">
                    Est, elementum orci quis ut metus. Molestie sed neque sapien rhoncus. 
                    Nunc semper ipsum tristique id sit volutpat purus.Est, elementum orci 
                    quis ut metus. Molestie sed neque sapien rhoncus. Nunc semper ipsum 
                    tristique id sit volutpat purus.
                </p>
            </div>
        </div>
        <div class="product__bottom">
            <span class="product__price">
                0.1280 BNB
            </span>
            <button type="button" class="product__order-btn btn-reset">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#shopping-cart"></use>
                </svg>
                <span>
                    Buy
                </span>
            </button>
        </div>
    </div>
</div>