@keyframes borderRun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(.6);
    }
    to {
        transform: scale(1);
    }
}

@keyframes pulseGlow {
	0%  {
		text-shadow: 0px 0px 20px rgba(251, 152, 23, 0.75);
	}
	50% {
		text-shadow: 0px 0px 40px rgba(251, 137, 23, 0.5);
	}
	100%{
		text-shadow: 0px 0px 20px rgba(251, 167, 23, 0.75);
	}		
}

@keyframes pulseShadow {
	0%  {
		box-shadow: 0px 0px 30px rgba(251, 186, 23, 0.25);
	}
	50% {
		box-shadow: 0px 0px 30px rgba(251, 183, 23, 0.75);
	}
	100% {
		box-shadow: 0px 0px 30px rgba(251, 160, 23, 0.25);
	}		
}

@keyframes spinBG {
	0%  {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}	
}

@keyframes spinBG2 {
	0%{
		transform: rotate(360deg);
		box-shadow: 0px 0px 1px rgba(251, 164, 23, 0.5);
	}
	50% {
		transform: rotate(180deg);
		box-shadow: 0px 0px 20px rgba(251, 167, 23, 0.5);
	}
	100% {
		transform: rotate(0deg);
		box-shadow: 0px 0px 1px rgba(251, 164, 23, 0.5);
	}	
}

@keyframes spinBG3 {
	0%{
		transform: rotate(180deg);
		box-shadow: 0px 0px 1px rgba(251, 183, 23, 0.1);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-180deg);
	}	
}

@keyframes spinBG4 {
	0%  {
		transform: rotate3d(1, 1, 1, 0deg);
	}
	100% {
		transform: rotate3d(1, 1, 1, 360deg);
	}	
}

@keyframes increaseScale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(7);
    }
}

@keyframes decreaseOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}