/* stylelint-disable */
@mixin burger {
    cursor: pointer;
    position: relative;
    z-index: 111;
    display: flex;
    position: fixed;
    left: 0;
    transform: rotate(180deg);
    background: var(--dark);
    border-radius: 15px 0px 0px 15px;
    width: 25px;
    height: 40px;
    transition: all ease-in-out .4s;

    &::before {
        content: "";
        position: absolute;
        opacity: 1;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: var(--cs-grey) transparent transparent transparent;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        transition: all ease-in-out .4s
    }

    &:hover {
        &::before {
            border-color: var(--orange) transparent transparent transparent;
        }
    }

    &.burger--active {
        &::before {
            opacity: 1;
            top: 50%;
        }
    }
}