<div class="error-page">
    <div class="wrapper">
        <div class="error-page__container">
            <h2 class="error-page__subtitle">
                Oops, something is wrong
            </h2>
            <h1 class="error-page__title">
                Error 404
            </h1>
            <p class="error-page__text">
                You are on a 404 page because you entered the address of a page that no longer exists or has been moved to a different address.
            </p>
            <a href="/" class="btn-reset error-page__link">
                Next
            </a>
        </div>
    </div>
</div>
