<div class="auth">
    <div class="auth__wrapper">
        <div class="auth__welcome d-none">
            <a href="#" class="logo">
                <img src="images/icon/logo.svg" alt="Calorie burn to life">
            </a>
            <div class="welcome">
                <h2 class="welcome__title">
                    Welcome, my dear friend!
                </h2>
                <p class="welcome__text">
                    Are you ready to burn for a successful life?
                </p>
                <a href="#" class="welcome__btn">
                    <span class="circle-arrow">
                        <svg class="icon">
                          <use xlink:href="images/sprite.svg#btn-arrow"></use>
                        </svg>
                    </span>
                    Start
                </a>
            </div>
            <div class="auth__bottom">
                <p class="auth__bottom-text">
                    © 2022. All rights reserved. Company “Calorie”
                </p>
            </div>
        </div>
        <div class="sign-in d-none">
            <div class="auth__container">
                <h2 class="auth__title">
                    Sign in
                </h2>
                <form action="#" class="form">
                    <label class="form__label form__label--email">
                        <input type="email" class="form__input" placeholder="E-mail" required="">
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#mail"></use>
                        </svg>
                    </label>
                    <label class="form__label form__label--password">
                        <input type="password" class="form__input" placeholder="Password" required="">
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#lock"></use>
                        </svg>
                    </label>
                    <div class="auth__group">
                        <label class="custom-checkbox">
                            <input type="checkbox" class="custom-checkbox__field" required="">
                            <span class="custom-checkbox__content">Remember password</span>
                          </label>
                          <a href="#" class="auth__link">
                              Forgot your password ?
                          </a>
                    </div>
                    <button type="submit" class="form__btn sign-up__btn">
                        Sign in
                    </button>
                </form>
            </div>
            <div class="auth__bottom">
                <p class="auth__bottom-text">
                    I don't have an account yet
                    <a href="#" class="auth__link">Sign up</a>
                </p>
            </div>
        </div>
        <div class="sign-up d-none">
            <div class="auth__container">
                <h2 class="auth__title">
                    Sign up
                </h2>
                <form action="#" class="form">
                    <label class="form__label form__label--email">
                        <input type="email" class="form__input" placeholder="E-mail" required="">
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#mail"></use>
                        </svg>
                    </label>
                    <label class="form__label form__label--password">
                        <input type="password" class="form__input" placeholder="Password" required="">
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#lock"></use>
                        </svg>
                    </label>
                    <div class="auth__group">
                        <label class="custom-checkbox">
                            <input type="checkbox" class="custom-checkbox__field" required="">
                            <span class="custom-checkbox__content">I agree to the privacy terms</span>
                          </label>
                    </div>
                    <button type="submit" class="form__btn sign-up__btn">
                        Sign up
                    </button>
                </form>
            </div>
            <div class="auth__bottom">
                <p class="auth__bottom-text">
                    I already have an account
                    <a href="#" class="auth__link">Sign in</a>
                </p>
            </div>
        </div>
        <div class="recover-pass">
            <div class="auth__container">
                <h2 class="auth__title">
                    Recover&nbsp;my<br> password
                </h2>
                <p class="auth__descript">
                    Please enter your email address below to receive instructions for resetting password
                </p>
                <form action="#" class="form">
                    <label class="form__label form__label--email">
                        <input type="email" class="form__input" placeholder="E-mail" required="">
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#mail"></use>
                        </svg>
                    </label>
                    <button type="submit" class="form__btn sign-up__btn">
                        Reset password
                    </button>
                </form>
            </div>
            <div class="auth__bottom">
                <p class="auth__bottom-text">
                    I already have an account
                    <a href="#" class="auth__link">Sign in</a>
                </p>
            </div>
        </div>
    </div>
</div>
