<header class="header">
	<div class="wrapper">
		<div class="header__container">
			<h1 class="header__title">
				Shop
			</h1>
			<div class="profile">
				<div class="profile__wrap">
					<div class="profile__avatar">
						<img src="images/icon/avatar-default.svg" alt="default avatar" class="avatar">
					</div>
					<div class="profile__info">
						<div class="profile__name">
							Ann Narozhna
						</div>
						<div class="profile__mail">
							ann.narozhna@gmail.com
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>