<div class="graph-modal">
    <div class="graph-modal__container order-modal" role="dialog" aria-modal="true" data-graph-target="product-order">
        <div class="graph-modal__content">
            <div class="order-modal product--rare">
                <span class="product__status">Rare / 80</span>
                <h3 class="order-modal__title">
                    Сonfirm order
                </h3>
                <div class="product__image">
                    <img src="images/product/order/1.png" alt="Sneakers “Calorie">
                </div>
                <div class="order-modal__info">
                    <div class="product__code">
                        Code: <span class="code">№ 72184782</span>
                    </div>
                    <div class="order-modal__price">
                        Price: <span class="price">0.1280 BNB</span>
                    </div>
                </div>
                <div class="order-modal__btns-group">
                    <button type="button" class="btn-reset product__close-btn graph-modal-close" aria-label="Закрыть модальное окно">
                        Cancel
                    </button>
                    <button type="submit" class="btn-reset product__order-btn">
                        Сonfirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>