<div class="graph-modal">
    <div class="graph-modal__container order-modal" role="dialog" aria-modal="true" data-graph-target="product-order">
        <div class="graph-modal__content">
            <div class="order-modal product--rare">
                <span class="product__status">Rare / 80</span>
                <h3 class="order-modal__title">
                    Сonfirm order
                </h3>
                <div class="product__image">
                    <img src="images/product/order/1.png" alt="Sneakers “Calorie">
                </div>
                <div class="order-modal__info">
                    <div class="product__code">
                        Code: <span class="code">№ 72184782</span>
                    </div>
                    <div class="order-modal__price">
                        Price: <span class="price">0.1280 BNB</span>
                    </div>
                </div>
                <div class="order-modal__btns-group">
                    <button type="button" class="btn-reset product__close-btn graph-modal-close" aria-label="Закрыть модальное окно">
                        Cancel
                    </button>
                    <button type="submit" class="btn-reset product__order-btn">
                        Сonfirm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="graph-modal__container no-funds order-modal" role="dialog" aria-modal="true" data-graph-target="product-no-funds">
        <div class="graph-modal__content">
            <div class="no-funds">
                <h3 class="order-modal__title">
                    Your account<br>
                    does not have enough funds
                </h3>
                <div class="no-funds__image">
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="50" cy="50" r="50" fill="#EAEBF0" fill-opacity="0.02"/>
                        <circle cx="50.0007" cy="50" r="41.6667" fill="#EAEBF0" fill-opacity="0.05"/>
                        <g filter="url(#filter0_b_705_11583)">
                        <path d="M61.0939 58.9931C57.5619 58.9931 54.6876 56.1188 54.6876 52.5869C54.6876 49.0549 57.5619 46.1806 61.0939 46.1806H64.6529V43.3334C64.6529 41.7632 63.3759 40.4862 61.8057 40.4862H60.3821V37.639C60.3821 36.0687 59.1051 34.7917 57.5348 34.7917H37.6043C35.4931 34.7917 33.7478 36.3349 33.4061 38.3493C33.3748 38.4661 33.3335 38.58 33.3335 38.7067V60.4167C33.3335 62.7713 35.2497 64.6875 37.6043 64.6875H61.8057C63.3759 64.6875 64.6529 63.4105 64.6529 61.8403V58.9931H61.0939ZM36.1807 39.0626C36.1807 38.2782 36.8185 37.639 37.6043 37.639H57.5348V40.4862H37.6043C36.8185 40.4862 36.1807 39.847 36.1807 39.0626Z" fill="#EAEBF0" fill-opacity="0.2"/>
                        </g>
                        <path d="M66.4316 48.3158H61.0931C58.7384 48.3158 56.8223 50.232 56.8223 52.5866C56.8223 54.9413 58.7384 56.8574 61.0931 56.8574H66.4316C67.021 56.8574 67.4993 56.3791 67.4993 55.7897V49.3835C67.4993 48.7941 67.021 48.3158 66.4316 48.3158ZM61.0931 54.0102C60.3073 54.0102 59.6695 53.3725 59.6695 52.5866C59.6695 51.8008 60.3073 51.163 61.0931 51.163C61.8789 51.163 62.5167 51.8008 62.5167 52.5866C62.5167 53.3725 61.8789 54.0102 61.0931 54.0102Z" fill="#EAEBF0" fill-opacity="0.4"/>
                        <defs>
                        <filter id="filter0_b_705_11583" x="-34.9997" y="-33.5415" width="167.986" height="166.562" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImageFix" stdDeviation="34.1666"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_705_11583"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_705_11583" result="shape"/>
                        </filter>
                        </defs>
                    </svg>                                                    
                </div>
                <div class="order-modal__info">
                    <div class="order-modal__price">
                        Your Current Balance: <span class="price">0.1210 BNB</span>
                    </div>
                    <div class="order-modal__price">
                        Price: <span class="price">0.1280 BNB</span>
                    </div>
                </div>
                <p class="no-funds__diff">
                    Please Top Up your account for 0.0070 BNB more
                </p>
                <div class="order-modal__btns-group">
                    <a href="#" class="btn-reset product__close-btn">
                        Back to Shop
                    </a>
                    <a href="#" class="btn-reset product__order-btn">
                        Go to Wallet
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="graph-modal__container import-wallet" role="dialog" aria-modal="true" data-graph-target="import-wallet">
        <div class="graph-modal__content">
            <form class="form" action="#">
                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="30.0001" cy="30" r="30" fill="white" fill-opacity="0.05"/>
                    <circle cx="30.0001" cy="30" r="28.5" stroke="#CB3C45" stroke-opacity="0.5" stroke-width="3"/>
                    <path d="M32.3292 15.6035L31.9274 33.209H28.0069L27.6173 15.6035H32.3292ZM29.9671 40.8064C29.2285 40.8064 28.5954 40.5467 28.0678 40.0272C27.5483 39.5077 27.2886 38.8746 27.2886 38.1279C27.2886 37.3973 27.5483 36.7723 28.0678 36.2529C28.5954 35.7334 29.2285 35.4736 29.9671 35.4736C30.6895 35.4736 31.3145 35.7334 31.8421 36.2529C32.3779 36.7723 32.6457 37.3973 32.6457 38.1279C32.6457 38.623 32.5199 39.0735 32.2683 39.4793C32.0248 39.8852 31.7001 40.2098 31.2943 40.4533C30.8965 40.6887 30.4542 40.8064 29.9671 40.8064Z" fill="#CB3C45"/>
                </svg>
                <h2 class="import-wallet__title">
                    Please write down this 12 word seed<br>
                    phrase in a place you trust
                </h2>                    
                <p class="import-wallet__text">
                    Please write down this 12 word seed
                    phrase in a place you trust
                </p>
                <label class="custom-checkbox">
                    <input type="checkbox" name="seed-phrase" class="custom-checkbox__field" required="">
                    <span class="custom-checkbox__content">
                        I acknowledge the information provided 
                        and ready to write the seed phrase
                    </span>
                </label>
                <button class="btn-reset graph-modal__btn-next" data-graph-path="seed-phrase">
                    Next
                </button>
            </form>
        </div>
    </div>
    <div class="graph-modal__container seed-phrase" role="dialog" aria-modal="true" data-graph-target="seed-phrase">
        <div class="graph-modal__content">
            Import wallet 2222
        </div>
    </div>
</div>