<div class="profile-page">
    <div class="wrapper">
        <a href="#" class="return-link">
            Back
        </a>
        <div class="profile-page__container">
            <div class="profile-stat-info">
                <div class="profile-page__top">
                    <div class="profile">
                        <div class="profile__wrap">
                            <div class="profile__avatar">
                                <img src="images/icon/avatar-default.svg" alt="default avatar" class="avatar">
                            </div>
                            <div class="profile__info">
                                <div class="profile__name">
                                    Ann Narozhna
                                </div>
                                <div class="profile__mail">
                                    ann.narozhna@gmail.com
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn-reset profile-page__edit-btn">
                        <svg class="icon" width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_18_13953)">
                            <path d="M9.857 5.99972C9.62031 5.99972 9.42843 6.1916 9.42843 6.4283V10.7139C9.42843 10.9506 9.23656 11.1425 8.99986 11.1425H1.2857C1.049 11.1425 0.857123 10.9506 0.857123 10.7139V2.14263C0.857123 1.90593 1.049 1.71406 1.2857 1.71406H6.42849C6.66519 1.71406 6.85706 1.52218 6.85706 1.28548C6.85706 1.04878 6.66519 0.856934 6.42849 0.856934H1.2857C0.575626 0.856934 0 1.43256 0 2.14263V10.7139C0 11.424 0.575626 11.9996 1.2857 11.9996H8.99988C9.70995 11.9996 10.2856 11.424 10.2856 10.7139V6.42827C10.2856 6.1916 10.0937 5.99972 9.857 5.99972Z" fill="#FF5D39"/>
                            <path d="M11.5196 0.480586C11.2119 0.172823 10.7946 -4.34422e-05 10.3593 6.78033e-06C9.92389 -0.00124878 9.50609 0.171919 9.19923 0.480863L3.55414 6.12547C3.50731 6.17266 3.47198 6.23001 3.45086 6.29304L2.59374 8.86444C2.51893 9.08901 2.64034 9.33168 2.86491 9.40646C2.90848 9.42098 2.95411 9.42839 3.00001 9.42844C3.04602 9.42836 3.09174 9.42098 3.13544 9.40659L5.70683 8.54947C5.76999 8.52837 5.82737 8.49287 5.8744 8.44576L11.5195 2.80069C12.1602 2.16005 12.1603 1.1213 11.5196 0.480586Z" fill="#FF5D39"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_18_13953">
                            <rect width="12" height="12" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>                        
                    </button>
                </div>
                <div class="profile-info">
                    <div class="profile-info__wrap">
                        <div class="profile-info__title">Your name:</div>
                        <div class="profile-info__value">Ann Narozhna</div>
                    </div>
                    <div class="profile-info__wrap">
                        <div class="profile-info__title">E-mail:</div>
                        <div class="profile-info__value">ann.narozhna@gmail.com</div>
                    </div>
                    <div class="profile-info__wrap">
                        <div class="profile-info__title">Password:</div>
                        <div class="profile-info__value">*****************</div>
                    </div>
                    <div class="profile-info__wrap profile-info__wrap--mt">
                        <div class="profile-info__title">Gender:</div>
                        <div class="profile-info__value">woman</div>
                    </div>
                    <div class="profile-info__wrap">
                        <div class="profile-info__title">Date of Birth:</div>
                        <div class="profile-info__value">07.03.1985</div>
                    </div>
                </div>
                <a href="#" class="logout">
                    Log out
                </a>
            </div>
            <div class="profile-edit-info">
                <div class="profile-page__top">
                    <div class="profile">
                        <div class="profile__wrap">
                            <div class="profile__avatar">
                                <img src="images/icon/avatar-default.svg" alt="default avatar" class="avatar">
                            </div>
                            <div class="profile__info">
                                <div class="profile__name">
                                    Ann Narozhna
                                </div>
                                <div class="profile__mail">
                                    ann.narozhna@gmail.com
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="logout">
                        Log out
                    </a>
                </div>
                <form action="#" class="profile-page__form form">
                    <label class="form__label form__label--name">
                        <input type="text" class="form__input" placeholder="Your name" required="">
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#user"></use>
                        </svg>
                    </label>
                    <label class="form__label form__label--email">
                        <input type="email" class="form__input" placeholder="E-mail" required="">
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#mail"></use>
                        </svg>
                    </label>
                    <label class="form__label form__label--password">
                        <input type="password" class="form__input" placeholder="Password" required="">
                        <svg class="icon">
                            <use xlink:href="images/sprite.svg#lock"></use>
                        </svg>
                    </label>
                    <div class="gender">
                        <span class="genger__title">
                            Gender:
                        </span>
                        <div class="gender__radio-group">
                            <label class="custom-checkbox">
                                <input type="radio" name="gender" class="custom-checkbox__field">
                                <span class="custom-checkbox__content">man</span>
                            </label>
                            <label class="custom-checkbox">
                                <input type="radio" name="gender" class="custom-checkbox__field" checked>
                                <span class="custom-checkbox__content">woman</span>
                            </label>
                        </div>
                    </div>
                    <label class="form__label form__label--date">
                        <input type="date" class="form__input">
                    </label>
                    <button type="submit" class="form__save btn-reset">
                        Save changes
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>