<div class="overlay menu--active" data-menu>
    <div class="sidebar">
        <div class="sidebar__top">
            <a href="#" class="logo">
                <img src="images/icon/logo.svg" alt="Calorie burn to life">
            </a>
            <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger></button>   
        </div>
        <nav class="menu">
            <ul class="list-reset">
                <li>
                    <a href="#">
                        <img src="images/icon/profile.svg" alt="profile link" class="icon">
                        <span>
                            Profile
                        </span>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <img src="images/icon/shop.svg" alt="shop link" class="icon">
                        <span>
                            Shop
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/icon/wallet.svg" alt="wallet link" class="icon">
                        <span>
                            Wallet
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="sidebar__bottom">
            <a href="#" class="logout">
                Log out
            </a>
            <div class="need-help">
                <a href="#" class="need-help__link">
                    Need help? 
                </a>
            </div>
        </div>
    </div>
</div>