@include mobile {
    .error-page {
        &__subtitle {
            font-size: 18px;
        }

        &__title {
            font-size: 60px;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        &__text {
            margin-bottom: 30px;
        }
    }

}
