@include mobile {
    .graph-modal {
        &__container {
            padding: 0 15px 60px 15px;
        }
        .order-modal.no-funds {
            padding: 70px 15px 60px 15px;

            .no-funds {
                &__diff {
                    max-width: 202px;
                    margin-left: auto;
                    margin-right: auto;
                }
                .order-modal__price {
                    border-bottom: 1px solid rgba(234, 235, 240, 0.1);
                    padding-bottom: 12px;
                    margin-bottom: 10px;
                }
            }
        }
        .order-modal {
            .product__status {
                padding: 6px;
                font-size: 11px;
                max-width: 123px;
            }
            &__title {
                font-size: 20px;
                margin-top: 54px;
                margin-bottom: 40px;
            }
            .product__image {
                max-width: 260px;
                max-height: 170px;
            }
        }
        .import-wallet {
            padding: 60px 30px;

            &__title {
                max-width: 220px;
                font-size: 20px;
                margin-bottom: 15px;

                br {
                    display: none;
                }
            }

            .custom-checkbox {
                max-width: 226px;
                margin-bottom: 25px;

                &__content {
                    font-size: 10px;
                    line-height: 15px;
                }
            }
        }
        .seed-phrase {
            padding: 60px 30px;

            &__title {
                font-size: 20px;
            }
            &__text {
                margin-top: 20px;
            }
            &__list {
                li {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
            &__btns-group {
                margin-top: 30px;
            }
        }
        .confirm-transfer {
            padding: 70px 15px;

            &__title {
                font-size: 20px;
                margin-bottom: 50px;
            }
            &__btns-group {
                gap: 15px;
                margin-top: 40px;
            }
        }
        .pending,
        .success {
            padding: 60px 20px;

            &__icon {
                width: 60px;
                height: 60px;
            }

            &__title {
                font-size: 20px;
            }
        }
        .choose-nft {
            .balance-nft {
                margin-top: 0;

                .item {
                    padding: 15px 10px;

                    &__status {
                        max-width: 160px;
                    }
                    &__amount {
                        margin-left: 10px;
                        padding-left: 10px;

                        .amount {
                            margin-left: 10px;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        &__btn-text {
            &::after {
                width: 35px;
                height: 35px;
            }
        }
    }
}

@media (max-width: 360px) {
    .graph-modal {
        .order-modal {
            &__btns-group {
                flex-wrap: wrap;
                justify-content: center;
            }
            &__price {
                font-size: 12px;
                .price {
                    font-size: 18px;
                }
            }
        }
        .choose-nft {
            .balance-nft {
                padding-right: 10px;
                margin-right: -10px;

                .item {
                    &__amount {
                        font-size: 12px;
                    }
                    &__labels {
                        &-label {
                            font-size: 10px;
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
    }
}
