@include mobile {
    .password-page {
        &__container {
            background: transparent;
            backdrop-filter: none;
            border-radius: 0;
            padding: 25px 0;
            justify-content: flex-start;
            min-height: inherit;
        }

        &__title {
            display: none;
        }

        &__strong {
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(234, 235, 240, 0.1);
        }

        .form {
            min-height: 400px;

            &__label {
                &--pincode {
                    display: block;

                    .label-text {
                        @include flex-all-center;
                        flex-wrap: wrap;
                        gap: 5px;
                        margin-bottom: 15px;
                    }
                }
            }

            &__submit {
                margin-top: auto;
            }
        }
    }
}