@include mobile {
    .restore-password {
        &__form {
            .new-password {
                flex-direction: column;
            }
            .import {
                padding: 60px 30px;

                &__item {
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;
                }
                .form {
                    &__input {
                        width: 100%;
                    }
                }
            }
        }
    }
}
