@include small-tablet {
    .sidebar-offset {
        .main {
          margin-left: inherit;
          margin-right: inherit;
        }
    }
    .sidebar {
        top: 0;
        border-radius: 0;
        height: 100vh;
        background: var(--dark);

        .burger {
            border-radius: 10px 0px 0px 10px;
            width: 20px;
            height: 35px;
            background-color: var(--orange);

            &::before {
                border-color: var(--dark) transparent transparent transparent;
            }

            &:hover {
                &::before {
                    border-color: var(--cs-white) transparent transparent transparent;
                }
            }
        }
    }
    .overlay.menu--active {
        .sidebar {
            left: 0;
        }
    }
}

@include mobile {
    .overlay {
        .sidebar {
            max-width: 100%;
            width: 98%;
            margin: 0 auto;
            right: 0;
            left: 0;
            background: rgba(22, 25, 37, 0.5);
            backdrop-filter: blur(30px);
            border-radius: 30px 30px 0px 0px;
            padding: 15px 22px 38px 22px;
            height: auto;
            bottom: 0;
            top: inherit;
            max-width: inherit;
            z-index: 111;
            
            &__top,
            &__bottom {
                display: none;
            }

            .menu {
                max-width: inherit;
                margin: 0;

                ul {
                    @include flex-all-center;
                    gap: 15px;

                    li {
                        margin-bottom: 0;

                        a {
                            padding: 0;
                            background: transparent;
                            border-radius: 0;
                            flex-direction: column;
                            min-width: 52px;

                            &::before {
                                content: none;
                            }

                            span {
                                color: rgba(234, 235, 240, 0.3);
                                margin-left: 0;
                                font-size: 11px;
                                margin-top: 5px;
                            }
                        }

                        &.active {
                            a {
                                span {
                                    color: var(--cs-white);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}