@include big-desktop {
    .transfer-page {
        .transfer {
            &__selects-wrap {
                padding: 12px;
            }
        }
    }
}

@include small-desktop {
    .transfer-page {
        .transfer {
            &__forms-wrap {
                flex-direction: column;
            }
            &__amount-wrap {
                flex-direction: row;
                gap: 20px;
            }
            &__nft-preview {
                max-width: 450px;
            }
            &__select {
                max-width: 450px;

                .select2-container {
                    max-width: 450px;
                }
            }
            &__amount {
                &.other {
                    margin-bottom: 0;
                }
                &.amount {
                    max-width: inherit;
                }
            }
        }
    }
}

@include middle-tablet {
    .transfer-page {
        &__container {
            padding: 100px 15px;
        }

        .transfer {
            &__forms-wrap {
                flex-direction: column;
            }

            &__selects-wrap {
                flex-direction: column;
            }

            &__amount {
                position: relative;
                margin-top: 20px;

                &::before {
                    content: "";
                    position: absolute;
                    border-top: 1px solid rgba(234, 235, 240, 0.1);
                    height: 1px;
                    width: 100%;
                    left: 0;
                    top: -20px;
                }
            }
            &__switcher {
                max-width: 300px;
                .switcher {
                    max-width: 142px;
                }

                &-btn {
                    max-width: 142px;
                    &--active {
                        & + .switcher {
                            transform: translateX(148px);
                        }
                    }
                }
            }
        }
    }
}

@include mobile {
    .transfer-page {
        padding-bottom: 100px;
        &__container {
            padding: 0;
            background: transparent;
            backdrop-filter: none;
            border-radius: 0;
        }
        &__title {
            font-size: 20px;
            margin-bottom: 30px;
        }

        .transfer {
            &__blocks-wrap {
                gap: 45px;
                margin-bottom: 50px;
            }
            &__amount-wrap {
                flex-direction: column;
            }

            &__block {
                padding: 26px 18px;
            }

            &__fee {
                margin-bottom: 100px;
            }
        }
    }
}

@include small-mobile {
    .transfer-page {
        .transfer {
            &__switcher {
                max-width: 250px;
                .switcher {
                    max-width: 116px;
                }

                &-btn {
                    max-width: 116px;
                    &--active {
                        & + .switcher {
                            transform: translateX(124px);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .transfer-page {
        .transfer {
            &__block {
                padding: 26px 10px;
            }
            &__blocks-wrap {
                gap: 20px;
            }
        }
    }
}
