html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family, sans-serif);
  font-size: 16px;
  line-height: 19px;
  background-color: var(--cs-body-bg);
  color: var(--grey);
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.main {
  position: relative;
  margin-top: 140px;
  margin-bottom: 40px;
  transition: all ease-in-out .4s;
  margin-left: 0;
}

body {
  &:not(.sidebar-offset) {
    .wrapper {
      max-width: 1800px;
    }
  }
}

.sidebar-offset {
  .main {
    margin-left: 285px;
    margin-right: 30px;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
  width: 100%;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.d-none {
  display: none !important;
}

::-webkit-scrollbar {width: 4px;height: 12px;}
::-webkit-scrollbar-track-piece {background:var(--cs-grey);}
::-webkit-scrollbar-thumb:vertical {
  height:10px;background:var(--cs-grey-text);-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255, .2);
}
::-webkit-scrollbar-thumb:vertical:hover {background:var(--cs-main);}

@include large-desktop {
  .wrapper {
      width: 95%;
  }
}

@include tablet {
  .wrapper {
    width: 100%;
    padding: 0 25px;
  }
}

@include mobile {
  .main {
    margin-top: 100px;
  }
}