// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Poppins", sans-serif;
  --content-width: 1400px;
  --container-offset: 0px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --cs-white: #fff;
  --cs-body-bg: #10121C;
  --grey: #EAEBF0;
  --orange: #FF5D39;

}